    <meta charset="utf-8" />
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=0.4, maximum-scale=1.0'>
    <meta content="FormalStatic" property="og:title" />
    <meta content="My website I fill with random junk" property="og:description" />
    <meta content="https://https://formalstatic.com" property="og:url" />
    <meta content="https://github.com/FormalStatic/FormalStatic.github.io/blob/master/images/Octangula.png?raw=true" property="og:image" />
    <meta content="#5D3FD3" data-react-helmet="true" name="theme-color" />